# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
frontend-ptm/dist
frontend-ptm/tmp
frontend-ptm/out-tsc
frontend-ptm/bazel-out

# Node
frontend-ptm/node_modules
frontend-ptm/npm-debug.log
frontend-ptm/yarn-error.log

# IDEs and editors
frontend-ptm/.idea/
frontend-ptm/.project
frontend-ptm/.classpath
frontend-ptm/.c9/
frontend-ptm/*.launch
frontend-ptm/.settings/
frontend-ptm/*.sublime-workspace

# Visual Studio Code
frontend-ptm/.vscode/*
frontend-ptm/!.vscode/settings.json
frontend-ptm/!.vscode/tasks.json
frontend-ptm/!.vscode/launch.json
frontend-ptm/!.vscode/extensions.json
frontend-ptm/.history/*

# Miscellaneous
frontend-ptm/.angular/cache
frontend-ptm/.sass-cache/
frontend-ptm/connect.lock
frontend-ptm/coverage
frontend-ptm/libpeerconnection.log
frontend-ptm/testem.log
frontend-ptm/typings

# System files
frontend-ptm/.DS_Store
frontend-ptm/Thumbs.db
