
backend-ptm/HELP.md
backend-ptm/.gradle
backend-ptm/build/
backend-ptm/!gradle/wrapper/gradle-wrapper.jar
backend-ptm/!**/src/main/**/build/
backend-ptm/!**/src/test/**/build/

### STS ###
backend-ptm/.apt_generated
backend-ptm/.classpath
backend-ptm/.factorypath
backend-ptm/.project
backend-ptm/.settings
backend-ptm/.springBeans
backend-ptm/.sts4-cache
backend-ptm/bin/
backend-ptm/!**/src/main/**/bin/
backend-ptm/!**/src/test/**/bin/

### IntelliJ IDEA ###
backend-ptm/.idea
backend-ptm/*.iws
backend-ptm/*.iml
backend-ptm/*.ipr
backend-ptm/out/
backend-ptm/!**/src/main/**/out/
backend-ptm/!**/src/test/**/out/

### NetBeans ###
backend-ptm/nbproject/private/
backend-ptm/nbbuild/
backend-ptm/dist/
backend-ptm/nbdist/
backend-ptm/.nb-gradle/

### VS Code ###
backend-ptm/.vscode/
